body{
	border: 20px solid #bdc3c7;
	margin: 10px 15%;
	padding: 10px;
	max-width: 700px;
}

h2{
	color: #2c3e50;
}

h4{
	color: #3498db;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 15px;
}

p:nth-of-type(1){
	border-left: 4px solid #bdc3c7;
	padding-left: 4px;

}

hr {
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    /*margin: 1em 0;
    padding: 0;*/
}

